APP_KEY=

# WB API settings
WB_API_BASE_URL=
WB_API_KEY=

# Database
MYSQL_VERSION=9.6.0
DB_CONNECTION=mysql
DB_HOST=
DB_PORT=3306
DB_DATABASE=
DB_USERNAME=
DB_PASSWORD=

OCTANE_SERVER=swoole

LOG_CHANNEL=stderr
LOG_LEVEL=debug