APP_KEY=

# WB API settings
WB_API_BASE_URL=
WB_API_KEY=

# Database
MYSQL_VERSION=9.6.0
DB_CONNECTION=mysql
DB_HOST=mysql # TODO: change to real host. For now, I use compose service name to test the future functionality
DB_PORT=3306
DB_DATABASE=wb_data
DB_USERNAME= # TODO: set real host db user when it's deployed
DB_PASSWORD= # TODO: set real host db pswd when it's deployed
